<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CAS Example Java Web App</title>
</head>
<body>
<h1>当前为客户端A</h1>
<h2><a href="http://app1.cas.com:9001/">客户端A</a></h2>
<h2><a href="http://app2.cas.com:9002/">客户端B</a></h2>
<h2><a href="http://app3.cas.com:9003/">客户端C</a></h2>
<p>A sample web application that exercises the CAS protocol features via the Java CAS Client.</p>
<hr>

<p><b>Authenticated User Id:</b> <a th:text="${user}" href="/logout" title="Click here to logout">
</a></p>
<b>Attributes:</b>
<table border='3pt' width='100%'>
    <th colspan='2'>Attributes</th>
    <tr>
        <td><b>Key</b></td>
        <td><b>Value</b></td>
    </tr>
    <tr th:each="entry : ${attributes}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
</table>

</body>